<ion-header>
  <ion-toolbar color="#74757B">
    <ion-title class="ion-text-center">REGISTRO DE USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="./assets/icon/registro.png" class="img" style="width: 50%; height: 50%; margin-left:80px;"></ion-img>>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="#EBC4B7">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="#EBC4B7">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-button style="width: 120px; height: 30px; margin-left:20px;" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <ion-button style="width: 120px; height: 30px; margin-left:1px;" (click)="goLoginPage()">Iniciar sesión
    </ion-button>
  </form>
</ion-content>