<ion-header>
  <ion-toolbar color="#74757B">
    <ion-title>REGISTRO DE USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>
      Correo electrónico:
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>>
  </ion-item>

  <ion-item>
    <ion-label>
      Contraseña:
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>>
  </ion-item>

  <ion-item-divider>
    <ion-button color="#74757B" size="large" (click)="onRegister()">Registrar</ion-button>
    <ion-button color="#74757B" size="large" routerLink="/ingreso">Iniciar Sesión</ion-button>
  </ion-item-divider>
</ion-content>
